<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./Styles/index.css">
  <title>Silbato de emergencia</title>
</head>

<body>
  <div class="navbar">
    <div class="Marca">
      <img src="./img/Logo.png" alt="">
      <H1>GPF3D</H1>
    </div>
    <div class="menu">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Contacto</a></li>
        <li><input type="text" name="" id=""></li>
      </ul>
    </div>
  </div>

  <br/>
  <br/>
  <br/>

  <div class="image-carousel">
    <div class="slideshow-container">
      <div class="mySlides fade">
        <div class="numbertext">1 / 5</div>
        <img src="./img/Silbato.jpg">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 5</div>
        <img src="./img/Silbato-llavero.jpg">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 5</div>
        <img src="./img/Silbato-mochila.jpg">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">4 / 5</div>
        <img src="./img/Silbato-mochila2.jpg">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">5 / 5</div>
        <img src="./img/Silbato-Puerta.jpg">
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
    </div>
  </div>

  <hr style="text-align: center; width: 80%; background-color: #fff; color: #fff;" class="solid">

  <div class="description">
    <div class="content">
      <h1 style="font-size: 36px; font-family: Arial, Helvetica, sans-serif;"> <u>SILBATO &nbsp S.O.S</u></h1>
      <h1 class="precio">$3000 / Pack 3 unidades</h1>
      <p><b>Silbatos para situaciones de emergencia</b>, ultra livianos, perfectos para llevarlos a todas partes en tu bolsillo o en tu kit de supervivencia.</p>
      <p>Ideal para camping, senderismo, montañismo. Además cuentan con un llavero, que los hace fácil de llevar y usar.</p>
      <p>Es un complemento esencial , sobre todo para situaciones donde es necesario <b>emitir una señal audible, rápida y a larga distancia</b>.</p>
      <p>Útil para pedir ayuda, usándolo como una  forma de <b>llamar la atención</b> o como un método para <b>disuadir un posible agresor</b>.</p>
      <p>El objetivo de incluirlo de manera preventiva, es <b>avisar de la emergencia a la población cercana con mayor rapidez</b>.</p>
      <p>Hoy en día es una herramienta que debería estar al alcance de todos en nuestra casa, es una excelente <b>medida de auto protección</b>.</p>

      <br/>
      <h1>Características:</h1>
      <p>Este pack incluye 3 silbatos fabricados en <b>Impresión 3D</b>, que pueden alcanzar una <b>intensidad sonora de  100 dB</b>.</p>
      <p>Su diseño es ideal para usar en todas las estaciones  y condiciones (tanto en agua como en tierra), funcionará en el frío sin atascarse ni pegarse en los labios.</p>
      <p>Es un silbato ligero, de fácil  flotación.</p>
      <p><b>Dimensiones:</b> 5 cm x 2 cm x 1 cm</p>
      <p><b>Material:</b> Plástico PLA</p>
      <p><b>Peso:</b> 7 gr incluyendo el llavero.</p>

      <br/>
      <br/>

      <h1 style="font-size: 28px;">PRECAUCIÓN:</h1>
      <p>A partir de 80-85 dB el sonido puede ser lesivo para los oídos.</p>
      <p>Pero debemos pensar que el silbato se usa esporádicamente y en cortos pitidos, por lo que no debería lesionar,
        <b>Se recomienda tapar los oídos antes de hacer sonar el silbato.</b> 
      </p>

      <h2>Diseño Original:</h2>
      <a href="https://www.thingiverse.com/thing:2933021">https://www.thingiverse.com/thing:2933021</a>
      <br>
      <a href="https://www.thingiverse.com/whistleblower/designs">https://www.thingiverse.com/whistleblower/designs</a>

    </div>
  </div>
</body>
<footer>
  <script src="./scripts/index.js"></script>
</footer>

</html>